@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Stylish');

body {
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .top-nav-column {
  min-height: 54px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Stylish', sans-serif;
}

.brand a {
  color: #125688;
}

.brand a:hover {
  text-decoration: none;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 14px;
  margin-left: 10px;
}

.top-nav .add {
  margin-top: 14px;
}

.top-nav .add .btn-new-post {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #125688;
  border-radius: 20px;
}

.top-nav .add a:hover {
  text-decoration: none;
}

.img-container {
  max-width: 100%;
  height: auto;
}

.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.card p, .card .message {
  font-size: 18px;
  margin: 10px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 28px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

abbr {
  text-decoration: none;
}

.btn-post {
  background-color: #125688;
  width: 100%;
  font-size: 24px;
  color: white;
  margin-top: 10px;
  border-radius: 23px;
  border-width: 0;
  font-family: 'Montserrat', sans-serif;;
}

.form-check-input {
  margin-top: 1rem;
  margin-left: 0;
}

.gram-actions {
  margin: 10px;
}

.gram-actions a {
  color: #125688;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #125688;
  padding: 5px 10px;
  border-radius: 20px;
}

.gram-actions a:hover {
  text-decoration: none;
}

.add-comment {
  margin: 10px;
}

textarea {
  font-family: 'Montserrat', sans-serif;
}

.btn-new-post {

}